/* index.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f6f7;
}

nav {
  background-color: #3b5998;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-left: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

nav ul li a:hover {
  color: #ddd;
}

h1 {
  color: #4b4f56;
  font-size: 24px;
  margin-left: 20px;
}

input[type="number"], button {
  margin: 5px;
}

button {
  padding: 5px 10px;
  border: none;
  color: white;
  background-color: #4267B2;
  cursor: pointer;
  font-size: 20px;
}

button:hover {
  background-color: #365899;
}

.d3-component {
  margin: 20px auto;
  display: block;
  background-color: #fff;
  border: 1px solid #ddd;
}

.container {
  margin: 20px;
}

label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #4b4f56;
  font-size: 20px;
}

input[type="number"] {
  border: 1px solid #ccd0d5;
  border-radius: 5px;
  padding: 5px;
  max-width: 300px; /* adjust to meet your specific needs */
  font-size: 20px;
}

.chartContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Centers the items and gives equal space around them */
}

.chartItem {
  flex: 1 1 200px; /* Grow and shrink equally, but don't get smaller than 200px */
  margin: 10px;
  max-width: calc(50% - 20px); /* Allow max 2 items per row, adjust as needed */
}

svg text {
  font-size: 20px;
}